<h2>マイページ</h2>

<div class="d-flex">
    <p class="mr-3">登録情報</p><%= link_to "編集する", edit_customer_path %>
</div>


<%= render 'profile', customer: @customer %>

<div class="d-flex">
    <p class="mr-3">配送先</p><%= link_to "一覧を見る", addresses_path %>
</div>